section[data-page="work"]{

  .work__title{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 20px;
  }

  h2{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: dotted 1px $border-color;
  }

  a{
    @include link();
  }

  div[data-bg]{
    padding: 30px 20px;
    &:empty{
      display: none;
    }
  }

  .work-image__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .work-image__item{
    list-style: none;
    margin-bottom: 10px;
    &.size-half{
      @include pc-layout{
        width: 49%;
      }
    }
    &.size-full{
      @include pc-layout{
        width: 109%;
      }
    }
    @include pc-layout{
      width: 49%;
    }
    @include sp-layout{
      width: 100%;
    }
    img{
      width: 100%;
      @include hover();
    }
    caption{
      display: block;
      font-size: 12px;
    }
    .youtube{
      @include flex-img();
      position: relative;
      iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
