section[data-page="work"]{

  .work__title{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 20px;
  }

  h2{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: dotted 1px $border-color;
  }

  a{
    @include link();
  }

  div[data-bg]{
    padding: 30px 20px;
    &:empty{
      display: none;
    }
  }

  .work-image__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .work-image__item{
    list-style: none;
    &.size-half{
      @include pc-layout{
        width: 49%;
      }
    }
    &.size-full{
      @include pc-layout{
        width: 109%;
      }
    }
    @include pc-layout{
      width: 49%;
      padding: 10px 0 25px;
    }
    @include sp-layout{
      width: 100%;
      padding: 5px 0 15px;
    }
    img{
      width: 100%;
      display: block;
      @include hover();
    }
    figcaption{
      display: block;
      text-align: center;
      font-size: 14px;
      font-style: italic;
      padding: 5px 0 10px;
      &:empty{
        display: none;
      }
    }
    .youtube{
      @include flex-img();
      position: relative;
      iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .work-about{
    text-align: center;
    h2,p{
      text-align: left;
    }
  }

  .work-media,
  .work-award{
    ul{
      margin-left: 20px;
    }
  }

  .slideshare{
    $w: 595px;
    $h: 485px;
    @include pc-layout{
      width: $w;
      height: $h;
      margin-top: 30px;
    }
    @include sp-layout{
      width: $w/1.5;
      height: $h/1.5;
      margin-top: 20px;
    }
  }

}
