@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Noto Sans CJK JP"),
    local("Noto Sans JP"),
    url("//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2") format("woff2"),
    url("//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff") format("woff"),
    url("//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf") format("opentype");
}

* {
  font-family: "Noto Sans CJK JP", sans-serif;
  font-feature-settings: "palt";
  box-sizing: border-box;
  outline: none;
  line-height: 1.5;
}

html {
  // font-family: $font-family;
  text-size-adjust: 100%;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $font-color-desc;
}

body {
  width: 100%;
  min-height: 100vh;

  @include pc-layout {
    overflow-x: scroll;
  }

  @include pc-layout {
    font-size: $base-font-size--pc;
    line-height: $base-line-height--pc;
  }

  @include sp-layout {
    font-size: $base-font-size--sp;
    line-height: $base-line-height--sp;
  }

  p,
  div,
  ul,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  figure,
  figcaption {
    margin: 0;
    padding: 0;
  }

  h1 {
    color: $font-color-main;

    @include pc-layout {
      font-size: $base-font-size--pc * 1.6;
    }

    @include sp-layout {
      font-size: $base-font-size--sp * 1.6;
    }
  }

  h2 {
    color: $font-color-main;

    @include pc-layout {
      font-size: $base-font-size--pc * 1.6;
    }

    @include sp-layout {
      font-size: $base-font-size--sp * 1.6;
    }
  }

  h3 {
    color: $font-color-main;

    @include pc-layout {
      font-size: $base-font-size--pc * 1.4;
    }

    @include sp-layout {
      font-size: $base-font-size--sp * 1.4;
    }
  }

  h4 {
    color: $font-color-main;

    @include pc-layout {
      font-size: $base-font-size--pc * 1.2;
    }

    @include sp-layout {
      font-size: $base-font-size--sp * 1.2;
    }
  }

  pre {
    white-space: pre-wrap;
    text-align: left;
  }
}

[v-cloak] {
  display: none;
}

@keyframes cloak-in {
  0% { opacity: 0; }
}

.wrapper {
  animation: cloak-in 1s;

  &[v-cloak] {
    opacity: 0;
  }

  margin: 0 auto;

  @include pc-layout {
    min-width: $pc_min_width;
    overflow: hidden;
  }

  @include sp-layout {
    width: 100%;
  }
}

.container {
  @include pc-layout {
    width: $pc_min_width;
    margin: 0 auto;
  }
}

div[data-bg="odd"] {
  background-color: $bg-color;
}
