.additional-information{

  a{
    @include link();
  }

  &__item{
    list-style: disc;
    margin-bottom: 5px;
    margin-left: 20px;
    ul{
      margin-left: 10px;
    }
    li{
      list-style-type: circle;
    }
  }

  .accordion-menu{
    @include accordion-menu('.accordion-menu__content', 2px);
    &__title{
      display: inline-block;
    }
    i{
      margin-top: 0;
      left: 12px;
      top: -11px;
      position: relative;
      display: inline-block;
    }
  }

}
