.profile{

  &__content{
    display: flex;
    flex-wrap: wrap;
  }

  &__left{
    margin-right: 20px;
    @include sp-layout{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
    }
  }

  &__right{
    @include pc-layout{
      display: flex;
      flex-flow: column;
      justify-content: center;
    }
    p{
      margin: 5px 0;
    }
  }

  &__thumb{
    @include pc-layout{
      @include image(150,150);
    }
    @include sp-layout{
      @include image(180,180);
    }
    border-radius: 50%;
  }

  &__name{
    color: $font-color-sub;
    font-weight: bold;
  }
  &__desc{

  }
}
