.additional-information{

  a{
    @include link();
  }

  &__item{
    list-style: disc;
    margin-bottom: 5px;
    margin-left: 20px;
    ul{
      margin-left: 20px;
    }
    li{
      list-style-type: circle;
    }
  }

}
