.gallery{

  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item{
    list-style: none;
    width: 30%;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
  }

  &__thumb{
    @include flex-img(1,1);
    background-size: cover;
    background-position: center;
  }
  &__caption{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(#000, .5);
    color: #fff;
    font-size: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include pc-layout{
      padding: 15px;
    }
    @include sp-layout{
      padding: 5px;
    }
    p:nth-child(1){
      font-weight: bold;
    }
  }
}

