.gallery{

  &__list{

    @include sp-layout{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__item{
    list-style: none;
    position: relative;
    overflow: hidden;
    @include hover();
    @include pc-layout{
      width: 230px;
      margin: 0 4px 8px;
      display: inline-block;
    }
    @include sp-layout{
      width: 49%;
      margin-bottom: 10px;
    }
  }

  &__thumb{
    @include flex-img(1,1);
    background-size: cover;
    background-position: center;
  }
  &__caption{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(#000, .4);
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include pc-layout{
      font-size: 14px;
      padding: 30px;
    }
    @include sp-layout{
      font-size: 12px;
      padding: 10px;
    }
    &:after{
      content: 'private';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      font-weight: bold;
      @include pc-layout{
        font-size: 14px;
        padding: 10px 15px;
      }
      @include sp-layout{
        font-size: 12px;
        padding: 5px 8px;
      }
    }
    p:nth-child(1){
      font-weight: bold;
    }
  }
  &__item{
    &[data-label="business"]{
      .gallery__caption:after{
        content:'business';
        background-color: rgba($label-color-business, .3);
      }
    }
    &[data-label="private"]{
      .gallery__caption:after{
        content:'private';
        background-color: rgba($label-color-private, .3);
      }
    }
  }
}

