.profile{
  padding: 10px;

  &__content{
    display: flex;
    padding-left: 15px;
  }

  &__left{
    margin-right: 20px;
  }

  &__thumb{
    @include image(100,100);
    border-radius: 50%;
  }

  &__name{
    font-weight: bold;
  }
  &__desc{

  }
}
