.profile{

  &__content{
    display: flex;
    padding-left: 15px;
  }

  &__left{
    margin-right: 20px;
  }

  &__right{
    display: flex;
    flex-flow: column;
    justify-content: center;
    p{
      margin: 5px 0;
    }
  }

  &__thumb{
    @include image(120,120);
    border-radius: 50%;
  }

  &__name{
    color: $font-color-sub;
    font-weight: bold;
  }
  &__desc{

  }
}
