.social-accounts{
  color: $font-color-main;

  a svg{
    // margin-right: 15px;
    // margin-bottom: 25px;
    margin: 0 auto;
  }

  a{
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 25px;
    text-align: center;
    position: relative;
    text-decoration: none;
    color: $link-color;
    &:visited{
      color: $link-color-visited;
    }
  }

  p{
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
  }

  .is-reverse svg{
    transform-origin:center; transform:rotate(180deg)
  }
}
